body{
font-family: Arial;
font-size: 13px;
}

table {
	border : none;
	border-collapse: collapse;
}

td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th {
	border: 3px solid black;
	border-collapse: collapse;
	padding: 8px;
	background-color: #ECECEC;
}

tr.lent {
 background-color: #CE2C2C;
}

tr.available {
 background-color: white;
}

a {
	text-decoration: none;
}



#header{
	width: 100%;
	height: 180px;
	background-color: #60c4e3;
	border-radius: 7px;
}

#header h1{
	padding-top: 15px;
}


#logo{
	float: left;
	width: auto;
	padding: 10px 13px 0 10px;
}

.site_logo {
	display: inline-block;
	width: 314px;
	height: 145px;
	background-image: url("../images/logo_bib.png");
}

#opening-status.status {
	box-sizing: border-box;
	display: block;
	float: right;
	width: 20%;
}




#navi{
margin-top: 25px;
border-radius: 7px;
width: 25%;
background-color: #6AAEFF;
float: left;

}

#error{
float: left;
width: 65%;
padding-left: 3%;
padding-top: 20px;
color: red;
}

#content{
float: left;
width: 65%;
padding-left: 3%;
padding-top: 20px;
}
#content a:hover{
	text-decoration: underline;
}


#navi >ul{
	list-style-type: none;
		
}

#navi >ul >li{
	display: block;
	height: 25px;
	
}

#navi >ul >li:hover{
	background-color: #BAE7F4;
}

#footer{
	clear: both;
	background-color: grey;
	vertical-align: baseline;
	margin-top: 50px;
	margin-bottom: 5px;
	width: 100%;
	float: left;
	border-radius: 7px;

}

.fs_logo {
	display: inline-block;
	width: 311px;
	height: 140px;
	background-image: url("../images/ifs_sw_klein.png");
}

.link_list {
	display: inline-block;
	height: 140px;
	padding-left: 10%;
}
.forum_logo {
	display: inline-block;
	background-image: url("../images/logo_forum_klein_sw.png");
	width: 311px;
	height: 140px;
	float: right;
}
